[user]
	name = Melina O'Dell
	email = melinaodell48@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	editor = emacs -Q -nw
	excludesfile = /Users/melina.odell/.gitignore_global
